<!DOCTYPE html>
<html>

    <head>
        
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <title>Moodle</title>
        
        <link rel="icon" href="../../favcon.png"><!-- Favicon-->

        <!-- #START# CSS's -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css"><!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css"><!-- Google Fonts -->
        <link href="../../plugins/bootstrap/css/bootstrap.css" rel="stylesheet"><!-- Bootstrap Core Css -->
        <link href="../../plugins/node-waves/waves.css" rel="stylesheet" /><!-- Waves Effect Css -->
        <link href="../../plugins/animate-css/animate.css" rel="stylesheet" /><!-- Animation Css -->
        <link href="../../plugins/morrisjs/morris.css" rel="stylesheet" /><!-- Morris Chart Css-->
        <link href="../../css/style.css" rel="stylesheet"><!-- Custom Css -->
        <link href="../../css/themes/all-themes.css" rel="stylesheet" /><!-- AdminBSB Themes -->
        <link href="../../plugins/waitme/waitMe.css" rel="stylesheet" /> <!--WaitMe Css-->
        <!-- #END# CSS's -->

    </head>

    <body class="theme-red">

        <%- include("../../layouts/page_loader.ejs") %>
        <%- include("../../layouts/sidebars_all.ejs") %>

        <!-- #START# Content-->
        <section class="content">
            <div class="container-fluid">
                <div class="block-header">
                    <h2>
                        Chat
                        <% if(user.nivel == "1"){ %>
                            <small>Fale com os professores aqui</small>
                        <% }else if(user.nivel == "2"){ %>
                            <small>Fale com os alunos aqui</small>
                        <% }else if(user.nivel == "3"){ %>
                            <small>Fale com os usuarios aqui</small>
                        <% } %>
                    </h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="card">
                            <div class="header bg-green">
                                <h2>
                                    Usuarios
                                </h2>
                            </div>
                            <div class="body">
                                <ul class="list-group list-users">
                                    <li class="list-group-item active">
                                        Cras justo odio 
                                        <span class="badge bg-pink">14 new</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12">
                        <div class="card">
                            <div class="header bg-light-green">
                                <h2>
                                    <%= "<username>" %>  <small><%= "<online/offline(tempo)/digitando...>" %></small>
                                </h2>
                                <ul class="header-dropdown m-r--5">
                                    <li>
                                        <a href="javascript:void(0);" data-toggle="cardloading" data-loading-effect="rotation" data-loading-color="lightGreen">
                                            <i class="material-icons">loop</i>
                                        </a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            <i class="material-icons">more_vert</i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="javascript:void(0);" class=" waves-effect waves-block">Excluir tudo</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="body">
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <ul class="list-group list-user-mensages">
                                            <li class="list-group-item">Cras justo odio</li>
                                            <li class="list-group-item mensage">Dapibus ac facilisis in</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="input-group">
                                            <div class="form-line">
                                                <input type="text" class="form-control date" placeholder="Message">
                                            </div>
                                            <span class="input-group-addon">
                                                <i class="material-icons">send</i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!-- #END# Colored Card - With Loading -->
            </div>
        </section>
        <!-- #END# Content-->

        <!-- #START# Scripts-->
        <script src="../../plugins/jquery/jquery.min.js"></script><!-- JQuery plugin -->
        <script src="../../plugins/bootstrap/js/bootstrap.js"></script><!-- Bootstrap Core Js -->
        <script src="../../plugins/bootstrap-select/js/bootstrap-select.js"></script><!-- Select Plugin Js -->
        <script src="../../plugins/jquery-slimscroll/jquery.slimscroll.js"></script><!-- Slimscroll Plugin Js -->
        <script src="../../plugins/node-waves/waves.js"></script><!-- Waves Effect Plugin Js -->
        <script src="../../plugins/waitme/waitMe.js"></script><!-- Wait Me Plugin Js -->
        <script src="../../js/admin.js"></script><!-- Custom Js -->
        <script src="../../js/pages/cards/colored.js"></script><!-- Custom Js -->
        <script src="../../js/demo.js"></script><!-- Demo Js -->
        <script src="../../socket.io/socket.io.js"></script><!-- Socket.IO -->
        <script src="../../js/socket_chat_manager.js"></script><!-- Socket.IO -->
        <script>
            var user_data = <%- JSON.stringify(user) %>;
        </script>
        <!-- #END# Scripts-->

    </body>

</html>
