<!DOCTYPE html>
<html>

    <head>
        
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <title>Moodle</title>
        
        <link rel="icon" href="../../favcon.png"><!-- Favicon-->

        <!-- #START# CSS's -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css"><!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css"><!-- Google Fonts -->
        <link href="../../plugins/bootstrap/css/bootstrap.css" rel="stylesheet"><!-- Bootstrap Core Css -->
        <link href="../../plugins/node-waves/waves.css" rel="stylesheet" /><!-- Waves Effect Css -->
        <link href="../../plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" /><!-- Bootstrap Select Css -->
        <link href="../../plugins/multi-select/css/multi-select.css" rel="stylesheet"><!-- Multi Select Css -->
        <link href="../../plugins/animate-css/animate.css" rel="stylesheet" /><!-- Animation Css -->
        <link href="../../plugins/morrisjs/morris.css" rel="stylesheet" /><!-- Morris Chart Css-->
        <link href="../../css/style.css" rel="stylesheet"><!-- Custom Css -->
        <link href="../../plugins/dropzone/dropzone.css" rel="stylesheet"><!-- Dropzone Css -->
        <link href="../../css/themes/all-themes.css" rel="stylesheet" /><!-- AdminBSB Themes -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">

        <script>
            var user_data = <%- JSON.stringify(user) %>
        </script>
        <!-- #END# CSS's -->

        

    </head>

    <body class="theme-red">

        <%- include("../../layouts/page_loader.ejs") %>
        <%- include("../../layouts/sidebars_all.ejs") %>

        <!-- #START# Content-->
        <section class="content">
            <div class="container-fluid">
                <div class="block-header">
                    <h2>Conteudos</h2><br>
                    <a href="/professor/conteudos/adicionar">
                        <button type="button" data-color="red" data-toggle="modal" data-target="#mdModal" class="btn bg-red waves-effect">Adicionar</button>
                    </a>
                </div>

                <% conteudos.forEach((conteudo) => { %>
                    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
                        <div class="card">
                            <div class="header bg-red">
                                <h2>
                                    <%- conteudo.titulo %>
                                </h2>
                                <ul class="header-dropdown m-r--5">
                                    <li class="dropdown">
                                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            <i class="material-icons">more_vert</i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="/professor/conteudos/editar?codigo=<%- conteudo.codigo %>" class=" waves-effect waves-block">Editar</a></li>
                                            <li><a href="/professor/conteudos/visualizar?codigo=<%- conteudo.codigo %>" class=" waves-effect waves-block">Vizualizar</a></li>
                                            <li><a class="waves-effect waves-block conteuddo_deletar" data-id="<%- conteudo.codigo %>"" href="#">Excluir</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                <% }) %>

            </div>
        </section>
        <!-- #END# Content-->

        <!-- #START# Scripts-->
        <script src="../../plugins/jquery/jquery.min.js"></script><!-- JQuery plugin -->
        <script src="../../plugins/bootstrap/js/bootstrap.js"></script><!-- Bootstrap Core Js -->
        <script src="../../plugins/bootstrap-select/js/bootstrap-select.js"></script><!-- Select Plugin Js -->
        <script src="../../plugins/jquery-slimscroll/jquery.slimscroll.js"></script><!-- Slimscroll Plugin Js -->
        <script src="../../plugins/node-waves/waves.js"></script><!-- Waves Effect Plugin Js -->
        <script src="../../plugins/waitme/waitMe.js"></script><!-- Wait Me Plugin Js -->
        <script src="../../plugins/bootstrap-select/js/bootstrap-select.js"></script>
        <script src="../../plugins/multi-select/js/jquery.multi-select.js"></script>
        <script src="../../js/admin.js"></script><!-- Custom Js -->
        <script src="../../js/pages/cards/colored.js"></script><!-- Custom Js -->
        <script src="../../js/pages/ui/modals.js"></script>
        <script src="../../plugins/dropzone/dropzone.js"></script><!-- Dropzone Plugin Js -->
        <script src="../../socket.io/socket.io.js"></script><!-- Socket.IO -->
        <script src="../../js/socket_manager.js"></script><!-- Socket.IO -->
        <script src="../../js/demo.js"></script><!-- Demo Js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
        <script src="../../js/confirm_conteudo_delete.js"></script><!-- Socket.IO -->
        <!-- #END# Scripts-->

    </body>

</html>
